<h1><b>Hello, Rails</b></h1>
<p> So this is the index of my App</p>
<p> And one more things<p>

<h1> The Second bit</h1>

<p> a[index]
Element Reference - return the element at index of array a
a[n..length]
Element Reference - return subarray starting at 'n' and ending at length of array a
a.fetch(index)
Try to return element at position index of array a, but throw IndexError if index out of bounds
a.first
Return first element of array a</p>
